# Python
__pycache__/
*.pyc

# 대용량 데이터셋 및 학습 결과 (레포에 안 올림)
*.pt
*.onnx
*.jpg
*.png
*.npy
runs/
yolo_dataset/
cvat_exports_v2/
!weights/*.pt
!weights/*.onnx
!results/*.png
!results/*.jpg__pycache__/
*.pyc
build/
install/
log/
